Repository asfadmin/Discovery-WKTUtils, pull requests merged in 2021-04, with the labels that each got.

#56 Automated GitHub to do the tedious work for us :partying_face:
  .github/actions/pytest-automation/action.yml
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/label-prod-pr.yml
  .github/workflows/prod-request-merged.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/run-pytest.yml
  CHANGELOG.md
  README.md
  requirements.txt
  setup.py
Labels: minor

#103 Cameron
  .github/workflows/auto-merge.yml
Labels: auto merge

#104 Last block worked. Trying to add block, if other tests are running AN…
  .github/workflows/auto-merge.yml
Labels: auto merge

#105 Hooking up automatic security updates to test branch.
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/changelog.yml
  .github/workflows/label-prod-pr.yml
  .github/workflows/prod-request-merged.yml
  .github/workflows/run-pytest.yml
  requirements.txt
Labels: auto merge

#106 Added check, to break off if the action suite fails
  .github/workflows/auto-merge.yml
  .github/workflows/run-pytest.yml
Labels: auto merge

#107 Removing old notes. testing if Devel needs a special catch, since it …
  .github/workflows/auto-merge.yml
Labels: auto merge

#108 Making sure nothing broke, when adding special case for devel branch
  .github/workflows/auto-merge.yml
Labels: auto merge

#109 Adding special case, for if merging to prod
  .github/workflows/auto-merge.yml
Labels: auto merge

#110 Trying to figure out why prod's automerge is triggering. uncommenting…
  .github/workflows/auto-merge.yml
Labels: auto merge

#111 Seeing if anything broke, with waiting for test suite to finish before merging
  .github/workflows/auto-merge.yml
Labels: auto merge

#113 Update from 'auto merge' used on prod branch
  .github/workflows/auto-merge.yml
Labels: auto merge

#114 Update from 'auto merge' used on prod branch
  .github/workflows/auto-merge.yml
Labels: auto merge

#115 Bringing update back from prod branch
  .github/workflows/auto-merge.yml
Labels: auto merge, dependancies

#112 Starting to bring automatic updates to prod, and having prod open PR's to dev/test
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/changelog.yml
  .github/workflows/label-prod-pr.yml
  .github/workflows/prod-request-merged.yml
  .github/workflows/run-pytest.yml
  requirements.txt
Labels: auto merge, skip-release

#138 Bringing update back from prod branch
  requirements.txt
Labels: auto merge, dependancies

#148 Bringing update back from prod branch
  requirements.txt
Labels: auto merge, dependancies

#151 Bringing branches up to date, with latest action commits. (Will help with automerging)
  .github/workflows/auto-merge-nonprod.yml
  .github/workflows/auto-merge-prod.yml
  .github/workflows/changelog.yml
  requirements.txt
Labels: auto merge

#152 Bringing each branch, up to date with latest commits. (Will help with auto merging)
  .github/workflows/auto-merge-nonprod.yml
  .github/workflows/auto-merge-prod.yml
  .github/workflows/changelog.yml
Labels: skip-release

#117 Testing updating test branch, when PR comes from some other branch
  .github/workflows/auto-merge-nonprod.yml
  .github/workflows/auto-merge-prod.yml
  .github/workflows/changelog.yml
Labels: auto merge, skip-release

#154 Updating requirements.txt (Hopefully last manual time). Bringing some action changes, missed with last merge
  .github/workflows/auto-merge-prod.yml
  requirements.txt
Labels: skip-release

#157 Test
  .github/workflows/prod-request-merged.yml
Labels: skip-release

#160 Test
  requirements.txt
Labels: skip-release

#164 Automatic merge triggered from dependabot/pip/prod/shapely-1.7.1 to devel
  .github/workflows/auto-merge-prod.yml
  requirements.txt
Labels: auto merge, dependancies

#165 Automatic merge triggered from dependabot/pip/prod/shapely-1.7.1 to devel
  .github/dependabot.yml
Labels: auto merge, dependancies

#163 Automatic merge triggered from dependabot/pip/prod/shapely-1.7.1 to test
  .github/dependabot.yml
  .github/workflows/auto-merge-prod.yml
  requirements.txt
Labels: auto merge, dependancies

#168 Adding bot's username/email to action, to correctly open PR's
  .github/workflows/auto-merge-prod.yml
Labels: skip-release

#171 Lowering pandas version ,to test automatic updates
  requirements.txt
Labels: skip-release

#175 Automatic merge triggered from dependabot/pip/prod/pandas-1.2.4 to devel
  requirements.txt
Labels: auto merge, dependancies

#178 Automatic merge triggered from dependabot/pip/prod/scipy-1.6.3 to devel
  requirements.txt
Labels: auto merge, dependancies

#174 Automatic merge triggered from dependabot/pip/prod/pandas-1.2.4 to test
  requirements.txt
Labels: auto merge, dependancies

#177 Automatic merge triggered from dependabot/pip/prod/scipy-1.6.3 to test
  requirements.txt
Labels: auto merge, dependancies

#180 Changing auto-merge-prod to not open PR's in parallel
  .github/workflows/auto-merge-prod.yml
  requirements.txt
Labels: skip-release

#186 Automatic merge triggered from cameron to devel
  .github/workflows/auto-merge-nonprod.yml
Labels: auto merge, dependancies

#183 tmp change, to test auto merging to prod
  .github/workflows/auto-merge-nonprod.yml
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, skip-release

#185 Automatic merge triggered from cameron to test
  .github/workflows/auto-merge-nonprod.yml
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, dependancies

#189 Automatic merge triggered from cameron to devel
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, dependancies

#188 Triggering pr's again, to test merging in different order
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, skip-release

#192 Automatic merge triggered from cameron to devel
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, dependancies

#193 Automatic merge triggered from cameron to test
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, dependancies

#191 Triggering pr's again, need to add labels before opening PR. Even if …
  .github/workflows/auto-merge-prod.yml
Labels: auto merge, skip-release
